body {
  margin: 0 auto;
}

header {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#weather-display,
#future {
  margin: 0 auto;
  padding: 2%;
  border: 2px solid darkslategray;
}

#button,
#weather-input {
  border: 2px solid black;
  margin: 1rem;
  padding: 0.5%;
}

ul {
  list-style: none;
  text-align: center;
}

.minimal {
  background-color: green;
  color: black;
}

.low {
  background-color: yellow;
  color: black;
}

.moderate {
  background-color: orange;
  color: black;
}

.high {
  background-color: red;
  color: black;
}

.extreme {
  background-color: fuchsia;
  color: black;
}

.hidden {
  display: none;
}
