body {
  margin: 0 auto;
}

/* .container {
  background-color: gray;
} */

header {
  display: block;
  background-color: slateblue;
  color: whitesmoke;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#weather-display {
  margin: 0 auto;
  padding: 2%;
  border: 5px solid slateblue;
  background-color: gray;
}

#future-weather-cards {
  margin: 0 auto;
  padding: 2%;
  border: 5px solid slateblue;
  background-color: gray;
}

#button {
  border: 2px solid black;
  margin: 1rem;
}

#weather-input {
  padding: 0.5%;
  margin: 1rem;
  border: 2px double slateblue;
}

#weather-header {
  padding: 2%;
  text-align: center;
  color: whitesmoke;
}

ul,
li {
  color: whitesmoke;
  list-style: none;
}

#uv-index {
  font-size: 1.1rem;
}
.minimal {
  background-color: green;
  color: black;
}

.low {
  background-color: yellow;
  color: black;
}

.moderate {
  background-color: orange;
  color: black;
}

.high {
  background-color: red;
  color: black;
}

.extreme {
  background-color: fuchsia;
  color: black;
}

.hidden {
  display: none;
}
